<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Drafts</title>
    <link rel="stylesheet" th:href="@{/css/background.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/draft.css}">
</head>
<body>
<header>
    <div class="header">
        <span class="blog-name" th:text="${loginUser.name} + '.Log'"></span>
        <a class="new-write" th:href="@{'/Ylog/' + ${loginUser.username} + '/post'}">
            <button type="button">new write</button>
        </a>
        <img class="profile-image" th:src="@{'/images/profiles/' + ${loginUser.profileImage}}" alt="Profile Image">

        <div class="user-settings">
            &#128772;
            <div class="dropdown-content">
                <a th:href="@{'/Ylog/' + ${loginUser.username}}">내 블로그</a>
                <a th:href="@{'/Ylog/' + ${loginUser.username} + '/drafts'}">임시 글</a>
                <a th:href="@{'/Ylog/' + ${loginUser.username} + '/settings'}">설정</a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="main">
        <ul>
            <li th:each="post : ${posts}" class="post" th:attr="id='post-' + ${post.id}">
                <h3 th:text="${post.title}">Post Title</h3>
                <p th:text="${#strings.abbreviate(post.content, 200)} + '...'">Post Content</p>
                <p th:text="${#temporals.format(post.releaseDate, 'yyyy-MM-dd HH:mm')}">Post Release Date</p>
                <button class="delete-button"
                        onclick="deletePost([[${loginUser.username}]], [[${post.id}]])">
                    Delete
                </button>
            </li>
        </ul>
    </div>
</main>
<script th:src="@{/js/draft.js}"></script>
<script th:src="@{/js/header.js}"></script> <!-- Add this line for header.js -->
</body>
</html>
