<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>UserBlog</title>
    <link rel="stylesheet" th:href="@{/css/background.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/post.css}">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.0/ckeditor5.css">
</head>
<body>
<div class="main-container">
    <form id="post-form" th:action="@{|/Ylog/${username}/post|}" method="post" th:object="${username}">
        <input type="hidden" name="content" id="content">
        <div class="editor-container editor-container_classic-editor" id="editor-container">
            <div class="editor-container__editor"><div id="editor"></div></div>
        </div>
        <div class="bottom-bar">
            <button type="button" class="btn-exit" onclick="location.href='/Ylog/${username}'">Exit</button>
            <button type="submit" class="btn-submit">Submit</button>
        </div>
    </form>
</div>
<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.0/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.0/"
        }
    }
</script>
<script type="module" th:src="@{/js/post.js}"></script>
</body>
</html>
