<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>YLog Main Page</title>
    <link rel="stylesheet" th:href="@{/css/background.css}">
    <link rel="stylesheet" th:href="@{/css/blog.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">

</head>
<body>
<div id="header"></div>
<header>
    <div class="login-button">
        <button th:onclick="|location.href='@{/Ylog/loginform}'|">Login</button>
    </div>
</header>

<main>

</main>

<script th:src="@{/js/header.js}"></script>
</body>
</html>
