<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/background.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>

</head>
<body>
<main>
    <div class="login-box">
        <div class="login-head">
            <p>LOGIN</p>
        </div>
        <div class="login-body">
            <form th:action="@{/login}" method="post" th:object="${user}">
                <div class="input-box">
                    <div class="email">
                        <br><label for="email">Enter Your Email</label>
                        <br><input class="input-email" type="text" id="email" th:field="*{email}" required>
                    </div>
                    <div class="password">
                        <br><label for="password">Enter Your Password</label>
                        <br><input class="input-password" type="password" id="password" th:field="*{password}" required>
                    </div>
                    <div class="enter-button">
                        <a th:href="@{/signup}">SignUp now</a>
                        <button type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

</body>
</html>