body, html {
    height: 100%; /* 전체 높이를 브라우저 창에 맞춤 */
    margin: 0; /* 기본 마진 제거 */
}

body {
    background-image: url('/images/background.png');  /* 배경 이미지 설정 */
    background-color: black;
    /* 이미지가 항상 전체 화면을 채우도록 설정 */
    height: 100%; /* 높이를 전체 페이지에 맞춤 */
    background-position: center; /* 이미지를 중앙에 배치 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-size: cover; /* 이미지가 항상 전체를 덮도록 설정 */
    /*background-attachment: fixed; !* 스크롤 시 이미지가 움직이지 않도록 설정 *!*/
    color: white;
    z-index: 0;
}

