.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    /*border: 1px solid white;*/
    /*border-radius: 15px;*/
}

.logo {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}
.nav {
    float: right;
    margin-right: 20px;
}
.nav button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}
.nav button:hover {
    background-color: #555;
}
